## Import Libraries

In [1]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import squareform, pdist,jaccard
import sys,  datetime, os
import requests
import chardet

## Load Data

#### Load BindingDB data

In [2]:
raw_df = pd.read_table('Input/BindingDB_All.tsv', quoting=3, encoding='utf-8',error_bad_lines=False)

b'Skipping line 546861: expected 193 fields, saw 265\n'
b'Skipping line 950663: expected 193 fields, saw 241\n'
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,9,10,11,12,13,15,17,18,19,20,26,27,32,34,46,49,50,51,52,53,54,61,62,63,64,65,66,73,74,75,76,77,78,85,86,87,88,89,90,97,98,99,100,101,102,109,110,111,112,113,114,121,122,123,124,125,126,133,134,135,136,137,138,145,147,148,149,150,157,158,159,160,161,162,169,170,171,172,173) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [206]:
raw_df.head()

,BindingDB Reactant_set_id,Ligand SMILES,Ligand InChI,Ligand InChI Key,BindingDB MonomerID,BindingDB Ligand Name,Target Name Assigned by Curator or DataSource,Target Source Organism According to Curator or DataSource,Ki (nM),IC50 (nM),...,UniProt (SwissProt) Recommended Name of Target Chain.12,UniProt (SwissProt) Entry Name of Target Chain.12,UniProt (SwissProt) Primary ID of Target Chain.12,UniProt (SwissProt) Secondary ID(s) of Target Chain.12,UniProt (SwissProt) Alternative ID(s) of Target Chain.12,UniProt (TrEMBL) Submitted Name of Target Chain.12,UniProt (TrEMBL) Entry Name of Target Chain.12,UniProt (TrEMBL) Primary ID of Target Chain.12,UniProt (TrEMBL) Secondary ID(s) of Target Chain.12,UniProt (TrEMBL) Alternative ID(s) of Target Chain.12
0,1,COc1cc2c(Nc3ccc(Br)cc3F)ncnc2cc1OCC1CCN(C)CC1,InChI=1S/C22H24BrFN4O2/c1-28-7-5-14(6-8-28)12-...,UHTHHESEBZOYNR-UHFFFAOYSA-N,21,"6-[(4R,5S,6S,7R)-4,7-dibenzyl-3-(5-carboxypent...",HIV-1 Protease,Human immunodeficiency virus 1,.24,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,O[C@@H]1[C@@H](O)[C@@H](Cc2ccccc2)N(C\C=C\c2cn...,InChI=1S/C31H34N6O3/c38-29-27(17-23-9-3-1-4-10...,UZLMEAPBHYEHAC-UNTBESQGSA-N,22,"(4R,5S,6S,7R)-4,7-dibenzyl-5,6-dihydroxy-1,3-b...",HIV-1 Protease,Human immunodeficiency virus 1,.25,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,O[C@@H]1[C@@H](O)[C@@H](Cc2ccccc2)N(CC2CC2)C(=...,InChI=1S/C29H34N4O3/c34-27-25(16-21-8-3-1-4-9-...,HYNYUFZPPJMPOB-UTWJFGBXSA-N,23,"(4R,5S,6S,7R)-4,7-dibenzyl-1-(cyclopropylmethy...",HIV-1 Protease,Human immunodeficiency virus 1,.41,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,OCCCCCCN1[C@H](Cc2ccccc2)[C@H](O)[C@@H](O)[C@@...,InChI=1S/C29H40N2O4/c32-18-10-2-1-9-17-30-25(1...,YXVAZXDWVZTGGD-VIJSPRBVSA-N,24,"(4R,5S,6S,7R)-4,7-dibenzyl-1-(cyclopropylmethy...",HIV-1 Protease,Human immunodeficiency virus 1,.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,OCCCCCN1[C@H](Cc2ccccc2)[C@H](O)[C@@H](O)[C@@H...,InChI=1S/C28H38N2O4/c31-17-9-3-8-16-29-24(18-2...,WWTSWTPNILRSJX-XDZXDJIYSA-N,25,"(4R,5S,6S,7R)-4,7-dibenzyl-1-(cyclopropylmethy...",HIV-1 Protease,Human immunodeficiency virus 1,.99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Load PDB to UniProt file

In [4]:
pdb_uniprot = pd.read_table('Input/pdbsws_chain.txt',names = ['info'])

In [5]:
pdb_uniprot.head()

            info
0  101m A P02185
1  102l A P00720
2  102m A P02185
3  103l A P00720
4  103m A P02185

#### Load UniProt to Gene file

In [6]:
uniprot = pd.read_table('Input/gene_to_uniprot.txt')

#### Load Target Update File

In [7]:
target_update = pd.read_table('Input/mappingFile_2017.txt', names = ['Old Targets','Updated Targets'], engine='python')

#### Load LINCS Small Molecules

In [8]:
lincs = pd.read_csv('Input/LINCS_SmallMolecules.csv',encoding='ISO-8859-1')

## Make df of PCID and PDB ID

In [10]:
raw_df['PDB ID(s) of Target Chain'].head()

0    1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
1    1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
2    1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
3    1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
4    1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
Name: PDB ID(s) of Target Chain, dtype: object

In [11]:
raw_df['PubChem CID'][1]

5327236.0

In [12]:
df = raw_df[['PubChem CID','PDB ID(s) of Target Chain']]

In [13]:
df.head(15)

    PubChem CID                          PDB ID(s) of Target Chain
0     3081361.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
1     5327236.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
2     5327235.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
3     5327234.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
4     3009319.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
5     5327233.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
6      463335.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
7     3009298.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
8      463323.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
9      469353.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
10    5327232.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
11     454923.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
12    3009299.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
13    5327231.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...
14    5327230.0  1AJV,1AJX,1C70,1D4H,1D4I,1D4J,1DIF,1EBW,1EBZ,1...

In [14]:
df = df.dropna(subset=['PubChem CID'])
df = df.dropna(subset=['PDB ID(s) of Target Chain'])

In [15]:
df['PubChem CID']=df['PubChem CID'].apply(lambda x: int(float(x)))

In [16]:
df = df.rename(index=str, columns = {'PDB ID(s) of Target Chain':'PDB'})

In [17]:
df.shape

(841704, 2)

## Fix PDB ID column

In [18]:
how_many = 0
appended_df = []
prot_index = np.where(df.columns.values=='PDB')[0][0]

for index, row in df.iterrows():
    prot_group = row.loc['PDB']
    if ',' in prot_group:
        prot_split = prot_group.split(',')
        for i in prot_split:
            row_as_list = row.values.tolist()
            row_as_list[prot_index] = i
            appended_df.append(row_as_list)
        df.drop(index, inplace = True)
        how_many += 1


print(len(appended_df))
print(how_many)

27615029
727948

In [19]:
df.head()

     PubChem CID   PDB
236     53308627  3LZS
237     53308628  3LZS
238     53308629  3LZS
239     53308630  3LZS
240     53308631  3LZS

In [20]:
columnnames = list(df.columns.values)
fix_gene_df = pd.DataFrame(appended_df,columns = columnnames)

In [21]:
fix_gene_df.head(10)

   PubChem CID   PDB
0      3081361  1AJV
1      3081361  1AJX
2      3081361  1C70
3      3081361  1D4H
4      3081361  1D4I
5      3081361  1D4J
6      3081361  1DIF
7      3081361  1EBW
8      3081361  1EBZ
9      3081361  1EC0

In [22]:
df = df.append(fix_gene_df)

In [23]:
df.shape

(27728785, 2)

## Fix PDB Column in PDB File

In [24]:
pdb_uniprot_fixed = pdb_uniprot['info'].apply(lambda x: pd.Series(x.split(' ')))

In [25]:
pdb_uniprot_fixed.head()

      0  1       2    3    4    5    6    7    8
0  101m  A  P02185  NaN  NaN  NaN  NaN  NaN  NaN
1  102l  A  P00720  NaN  NaN  NaN  NaN  NaN  NaN
2  102m  A  P02185  NaN  NaN  NaN  NaN  NaN  NaN
3  103l  A  P00720  NaN  NaN  NaN  NaN  NaN  NaN
4  103m  A  P02185  NaN  NaN  NaN  NaN  NaN  NaN

In [26]:
pdb_uniprot_fixed = pdb_uniprot_fixed.rename(index=str, columns = {0:'PDB ID'})
pdb_uniprot_fixed = pdb_uniprot_fixed.rename(index=str, columns = {1:'Letter'})
pdb_uniprot_fixed = pdb_uniprot_fixed.rename(index=str, columns = {2:'UniProt'})

In [27]:
pdb_uniprot = pdb_uniprot_fixed[['PDB ID','Letter','UniProt']]

In [28]:
pdb_uniprot.head()

  PDB ID Letter UniProt
0   101m      A  P02185
1   102l      A  P00720
2   102m      A  P02185
3   103l      A  P00720
4   103m      A  P02185

## Map PDB ID to UniProt ID

In [29]:
pdb_uniprot['PDB ID']= pdb_uniprot['PDB ID'].str.upper()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
'1D4I'in list(pdb_uniprot['PDB ID'])

True

In [31]:
pdb_uniprot.set_index('PDB ID', inplace = True)
pdb_uniprot.drop_duplicates()
pdb_uniprot.head()

       Letter UniProt
PDB ID
101M        A  P02185
102L        A  P00720
102M        A  P02185
103L        A  P00720
103M        A  P02185

In [115]:
pdb_uniprot.shape

(344378, 2)

In [118]:
pdb_df = df['PDB']
pdb_df = pdb_df.drop_duplicates()
type(pdb_df)

pandas.core.series.Series

In [127]:
## Make dictionary for the PDBs actually in the df- don't need to check Uniprot df every time
pdb_dict = {}

for pdb in pdb_df:
    if pdb in list(pdb_uniprot.index):
        if type(pdb_uniprot['UniProt'][pdb]) != str:
            pdb_dict[pdb] = list(pdb_uniprot.loc[:,'UniProt'][pdb])[0]
        else:
            pdb_dict[pdb] = pdb_uniprot.loc[:,'UniProt'][pdb]
    if len(pdb_dict) % 1000 == 0:
        print(len(pdb_dict))

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000

In [78]:
df.reset_index(inplace= True)

In [151]:
df['UniProt ID'] = None

for index,row in df.iterrows():
    pdb_id = row.loc['PDB']
    if pdb_id in list(pdb_dict.keys()):
        df.at[index,'UniProt ID'] = pdb_dict[pdb_id]
    if index % 10000 == 0:
        print(index)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000
1840000
1850000
1860000
1870000
1880000
1890000
1900000
1910000
1920000
1930000
1940000
1950000
1960000
1970000
1980000
1990000
2000000
2010000
2020000
2030000
2040000
2050000
2060000
2070000
2080000
2090000
2100000
2110000
2120000
2130000
2140000
2150000
2160000
2170000
2180000
2190000
2200000
2210000
2220000
2230000
2240000
2250000
2260000
2270000
2280000
2290000
2300000
2310000
2320000
2330000
2340000
2350000
2360000
2370000
2380000
2390000
2400000
2410000
2420000
2430000
2440000
2450000
2460000
2470000
2480000
2490000
2500000
2510000
2520000
2530000
2540000
2550000
2560000
2570000
2580000
2590000
2600000
2610000
2620000
2630000
2640000
2650000
2660000
2670000
2680000
2690000
2700000
2710000
2720000
2730000
2740000
2750000
2760000
2770000
2780000
2790000
2800000
2810000
2820000
2830000
2840000
2850000
2860000
2870000
2880000
2890000
2900000
2910000
2920000
2930000
2940000
2950000
2960000
2970000
2980000
2990000
3000000
3010000
3020000
3030000
3040000
3050000
3060000
3070000
3080000
3090000
3100000
3110000
3120000
3130000
3140000
3150000
3160000
3170000
3180000
3190000
3200000
3210000
3220000
3230000
3240000
3250000
3260000
3270000
3280000
3290000
3300000
3310000
3320000
3330000
3340000
3350000
3360000
3370000
3380000
3390000
3400000
3410000
3420000
3430000
3440000
3450000
3460000
3470000
3480000
3490000
3500000
3510000
3520000
3530000
3540000
3550000
3560000
3570000
3580000
3590000
3600000
3610000
3620000
3630000
3640000
3650000
3660000
3670000
3680000
3690000
3700000
3710000
3720000
3730000
3740000
3750000
3760000
3770000
3780000
3790000
3800000
3810000
3820000
3830000
3840000
3850000
3860000
3870000
3880000
3890000
3900000
3910000
3920000
3930000
3940000
3950000
3960000
3970000
3980000
3990000
4000000
4010000
4020000
4030000
4040000
4050000
4060000
4070000
4080000
4090000
4100000
4110000
4120000
4130000
4140000
4150000
4160000
4170000
4180000
4190000
4200000
4210000
4220000
4230000
4240000
4250000
4260000
4270000
4280000
4290000
4300000
4310000
4320000
4330000
4340000
4350000
4360000
4370000
4380000
4390000
4400000
4410000
4420000
4430000
4440000
4450000
4460000
4470000
4480000
4490000
4500000
4510000
4520000
4530000
4540000
4550000
4560000
4570000
4580000
4590000
4600000
4610000
4620000
4630000
4640000
4650000
4660000
4670000
4680000
4690000
4700000
4710000
4720000
4730000
4740000
4750000
4760000
4770000
4780000
4790000
4800000
4810000
4820000
4830000
4840000
4850000
4860000
4870000
4880000
4890000
4900000
4910000
4920000
4930000
4940000
4950000
4960000
4970000
4980000
4990000
5000000
5010000
5020000
5030000
5040000
5050000
5060000
5070000
5080000
5090000
5100000
5110000
5120000
5130000
5140000
5150000
5160000
5170000
5180000
5190000
5200000
5210000
5220000
5230000
5240000
5250000
5260000
5270000
5280000
5290000
5300000
5310000
5320000
5330000
5340000
5350000
5360000
5370000
5380000
5390000
5400000
5410000
5420000
5430000
5440000
5450000
5460000
5470000
5480000
5490000
5500000
5510000
5520000
5530000
5540000
5550000
5560000
5570000
5580000
5590000
5600000
5610000
5620000
5630000
5640000
5650000
5660000
5670000
5680000
5690000
5700000
5710000
5720000
5730000
5740000
5750000
5760000
5770000
5780000
5790000
5800000
5810000
5820000
5830000
5840000
5850000
5860000
5870000
5880000
5890000
5900000
5910000
5920000
5930000
5940000
5950000
5960000
5970000
5980000
5990000
6000000
6010000
6020000
6030000
6040000
6050000
6060000
6070000
6080000
6090000
6100000
6110000
6120000
6130000
6140000
6150000
6160000
6170000
6180000
6190000
6200000
6210000
6220000
6230000
6240000
6250000
6260000
6270000
6280000
6290000
6300000
6310000
6320000
6330000
6340000
6350000
6360000
6370000
6380000
6390000
6400000
6410000
6420000
6430000
6440000
6450000
6460000
6470000
6480000
6490000
6500000
6510000
6520000
6530000
6540000
6550000
6560000
6570000
6580000
6590000
6600000
6610000
6620000
6630000
6640000
6650000
6660000
6670000
6680000
6690000
6700000
6710000
6720000
6730000
6740000
6750000
6760000
6770000
6780000
6790000
6800000
6810000
6820000
6830000
6840000
6850000
6860000
6870000
6880000
6890000
6900000
6910000
6920000
6930000
6940000
6950000
6960000
6970000
6980000
6990000
7000000
7010000
7020000
7030000
7040000
7050000
7060000
7070000
7080000
7090000
7100000
7110000
7120000
7130000
7140000
7150000
7160000
7170000
7180000
7190000
7200000
7210000
7220000
7230000
7240000
7250000
7260000
7270000
7280000
7290000
7300000
7310000
7320000
7330000
7340000
7350000
7360000
7370000
7380000
7390000
7400000
7410000
7420000
7430000
7440000
7450000
7460000
7470000
7480000
7490000
7500000
7510000
7520000
7530000
7540000
7550000
7560000
7570000
7580000
7590000
7600000
7610000
7620000
7630000
7640000
7650000
7660000
7670000
7680000
7690000
7700000
7710000
7720000
7730000
7740000
7750000
7760000
7770000
7780000
7790000
7800000
7810000
7820000
7830000
7840000
7850000
7860000
7870000
7880000
7890000
7900000
7910000
7920000
7930000
7940000
7950000
7960000
7970000
7980000
7990000
8000000
8010000
8020000
8030000
8040000
8050000
8060000
8070000
8080000
8090000
8100000
8110000
8120000
8130000
8140000
8150000
8160000
8170000
8180000
8190000
8200000
8210000
8220000
8230000
8240000
8250000
8260000
8270000
8280000
8290000
8300000
8310000
8320000
8330000
8340000
8350000
8360000
8370000
8380000
8390000
8400000
8410000
8420000
8430000
8440000
8450000
8460000
8470000
8480000
8490000
8500000
8510000
8520000
8530000
8540000
8550000
8560000
8570000
8580000
8590000
8600000
8610000
8620000
8630000
8640000
8650000
8660000
8670000
8680000
8690000
8700000
8710000
8720000
8730000
8740000
8750000
8760000
8770000
8780000
8790000
8800000
8810000
8820000
8830000
8840000
8850000
8860000
8870000
8880000
8890000
8900000
8910000
8920000
8930000
8940000
8950000
8960000
8970000
8980000
8990000
9000000
9010000
9020000
9030000
9040000
9050000
9060000
9070000
9080000
9090000
9100000
9110000
9120000
9130000
9140000
9150000
9160000
9170000
9180000
9190000
9200000
9210000
9220000
9230000
9240000
9250000
9260000
9270000
9280000
9290000
9300000
9310000
9320000
9330000
9340000
9350000
9360000
9370000
9380000
9390000
9400000
9410000
9420000
9430000
9440000
9450000
9460000
9470000
9480000
9490000
9500000
9510000
9520000
9530000
9540000
9550000
9560000
9570000
9580000
9590000
9600000
9610000
9620000
9630000
9640000
9650000
9660000
9670000
9680000
9690000
9700000
9710000
9720000
9730000
9740000
9750000
9760000
9770000
9780000
9790000
9800000
9810000
9820000
9830000
9840000
9850000
9860000
9870000
9880000
9890000
9900000
9910000
9920000
9930000
9940000
9950000
9960000
9970000
9980000
9990000
10000000
10010000
10020000
10030000
10040000
10050000
10060000
10070000
10080000
10090000
10100000
10110000
10120000
10130000
10140000
10150000
10160000
10170000
10180000
10190000
10200000
10210000
10220000
10230000
10240000
10250000
10260000
10270000
10280000
10290000
10300000
10310000
10320000
10330000
10340000

10350000
10360000
10370000
10380000
10390000
10400000
10410000
10420000
10430000
10440000
10450000
10460000
10470000
10480000
10490000
10500000
10510000
10520000
10530000
10540000
10550000
10560000
10570000
10580000
10590000
10600000
10610000
10620000
10630000
10640000
10650000
10660000
10670000
10680000
10690000
10700000
10710000
10720000
10730000
10740000
10750000
10760000
10770000
10780000
10790000
10800000
10810000
10820000
10830000
10840000
10850000
10860000
10870000
10880000
10890000
10900000
10910000
10920000
10930000
10940000
10950000
10960000
10970000
10980000
10990000
11000000
11010000
11020000
11030000
11040000
11050000
11060000
11070000
11080000
11090000
11100000
11110000
11120000
11130000
11140000
11150000
11160000
11170000
11180000
11190000
11200000
11210000
11220000
11230000
11240000
11250000
11260000
11270000
11280000
11290000
11300000
11310000
11320000
11330000
11340000
11350000
11360000
11370000
11380000
11390000
11400000
11410000
11420000
11430000
11440000
11450000
11460000
11470000
11480000
11490000
11500000
11510000
11520000
11530000
11540000
11550000
11560000
11570000
11580000
11590000
11600000
11610000
11620000
11630000
11640000
11650000
11660000
11670000
11680000
11690000
11700000
11710000
11720000
11730000
11740000
11750000
11760000
11770000
11780000
11790000
11800000
11810000
11820000
11830000
11840000
11850000
11860000
11870000
11880000
11890000
11900000
11910000
11920000
11930000
11940000
11950000
11960000
11970000
11980000
11990000
12000000
12010000
12020000
12030000
12040000
12050000
12060000
12070000
12080000
12090000
12100000
12110000
12120000
12130000
12140000
12150000
12160000
12170000
12180000
12190000
12200000
12210000
12220000
12230000
12240000
12250000
12260000
12270000
12280000
12290000
12300000
12310000
12320000
12330000
12340000
12350000
12360000
12370000
12380000
12390000
12400000
12410000
12420000
12430000
12440000
12450000
12460000
12470000
12480000
12490000
12500000
12510000
12520000
12530000
12540000
12550000
12560000
12570000
12580000
12590000
12600000
12610000
12620000
12630000
12640000
12650000
12660000
12670000
12680000
12690000
12700000
12710000
12720000
12730000
12740000
12750000
12760000
12770000
12780000
12790000
12800000
12810000
12820000
12830000
12840000
12850000
12860000
12870000
12880000
12890000
12900000
12910000
12920000
12930000
12940000
12950000
12960000
12970000
12980000
12990000
13000000
13010000
13020000
13030000
13040000
13050000
13060000
13070000
13080000
13090000
13100000
13110000
13120000
13130000
13140000
13150000
13160000
13170000
13180000
13190000
13200000
13210000
13220000
13230000
13240000
13250000
13260000
13270000
13280000
13290000
13300000
13310000
13320000
13330000
13340000
13350000
13360000
13370000
13380000
13390000
13400000
13410000
13420000
13430000
13440000
13450000
13460000
13470000
13480000
13490000
13500000
13510000
13520000
13530000
13540000
13550000
13560000
13570000
13580000
13590000
13600000
13610000
13620000
13630000
13640000
13650000
13660000
13670000
13680000
13690000
13700000
13710000
13720000
13730000
13740000
13750000
13760000
13770000
13780000
13790000
13800000
13810000
13820000
13830000
13840000
13850000
13860000
13870000
13880000
13890000
13900000
13910000
13920000
13930000
13940000
13950000
13960000
13970000
13980000
13990000
14000000
14010000
14020000
14030000
14040000
14050000
14060000
14070000
14080000
14090000
14100000
14110000
14120000
14130000
14140000
14150000
14160000
14170000
14180000
14190000
14200000
14210000
14220000
14230000
14240000
14250000
14260000
14270000
14280000
14290000
14300000
14310000
14320000
14330000
14340000
14350000
14360000
14370000
14380000
14390000
14400000
14410000
14420000
14430000
14440000
14450000
14460000
14470000
14480000
14490000
14500000
14510000
14520000
14530000
14540000
14550000
14560000
14570000
14580000
14590000
14600000
14610000
14620000
14630000
14640000
14650000
14660000
14670000
14680000
14690000
14700000
14710000
14720000
14730000
14740000
14750000
14760000
14770000
14780000
14790000
14800000
14810000
14820000
14830000
14840000
14850000
14860000
14870000
14880000
14890000
14900000
14910000
14920000
14930000
14940000
14950000
14960000
14970000
14980000
14990000
15000000
15010000
15020000
15030000
15040000
15050000
15060000
15070000
15080000
15090000
15100000
15110000
15120000
15130000
15140000
15150000
15160000
15170000
15180000
15190000
15200000
15210000
15220000
15230000
15240000
15250000
15260000
15270000
15280000
15290000
15300000
15310000
15320000
15330000
15340000
15350000
15360000
15370000
15380000
15390000
15400000
15410000
15420000
15430000
15440000
15450000
15460000
15470000
15480000
15490000
15500000
15510000
15520000
15530000
15540000
15550000
15560000
15570000
15580000
15590000
15600000
15610000
15620000
15630000
15640000
15650000
15660000
15670000
15680000
15690000
15700000
15710000
15720000
15730000
15740000
15750000
15760000
15770000
15780000
15790000
15800000
15810000
15820000
15830000
15840000
15850000
15860000
15870000
15880000
15890000
15900000
15910000
15920000
15930000
15940000
15950000
15960000
15970000
15980000
15990000
16000000
16010000
16020000
16030000
16040000
16050000
16060000
16070000
16080000
16090000
16100000
16110000
16120000
16130000
16140000
16150000
16160000
16170000
16180000
16190000
16200000
16210000
16220000
16230000
16240000
16250000
16260000
16270000
16280000
16290000
16300000
16310000
16320000
16330000
16340000
16350000
16360000
16370000
16380000
16390000
16400000
16410000
16420000
16430000
16440000
16450000
16460000
16470000
16480000
16490000
16500000
16510000
16520000
16530000
16540000
16550000
16560000
16570000
16580000
16590000
16600000
16610000
16620000
16630000
16640000
16650000
16660000
16670000
16680000
16690000
16700000
16710000
16720000
16730000
16740000
16750000
16760000
16770000
16780000
16790000
16800000
16810000
16820000
16830000
16840000
16850000
16860000
16870000
16880000
16890000
16900000
16910000
16920000
16930000
16940000
16950000
16960000
16970000
16980000
16990000
17000000
17010000
17020000
17030000
17040000
17050000
17060000
17070000
17080000
17090000
17100000
17110000
17120000
17130000
17140000
17150000
17160000
17170000
17180000
17190000
17200000
17210000
17220000
17230000
17240000
17250000
17260000
17270000
17280000
17290000
17300000
17310000
17320000
17330000
17340000
17350000
17360000
17370000
17380000
17390000
17400000
17410000
17420000
17430000
17440000
17450000
17460000
17470000
17480000
17490000
17500000
17510000
17520000
17530000
17540000
17550000
17560000
17570000
17580000
17590000
17600000
17610000
17620000
17630000
17640000
17650000
17660000
17670000
17680000
17690000
17700000
17710000
17720000
17730000
17740000
17750000
17760000
17770000
17780000
17790000
17800000
17810000
17820000
17830000
17840000
17850000
17860000
17870000
17880000
17890000
17900000
17910000
17920000
17930000
17940000
17950000
17960000
17970000
17980000
17990000
18000000
18010000
18020000
18030000
18040000
18050000
18060000
18070000
18080000
18090000
18100000
18110000
18120000
18130000
18140000
18150000
18160000
18170000
18180000
18190000
18200000
18210000
18220000
18230000
18240000
18250000
18260000
18270000
18280000
18290000
18300000
18310000
18320000
18330000
18340000
18350000
18360000
18370000
18380000
18390000
18400000
18410000
18420000
18430000
18440000
18450000
18460000
18470000
18480000
18490000
18500000
18510000
18520000
18530000
18540000
18550000
18560000
18570000
18580000
18590000
18600000
18610000
18620000
18630000
18640000
18650000
18660000
18670000
18680000
18690000
18700000
18710000
18720000
18730000
18740000
18750000
18760000
18770000
18780000
18790000
18800000
18810000
18820000
18830000
18840000
18850000
18860000
18870000
18880000
18890000
18900000
18910000
18920000
18930000
18940000
18950000
18960000
18970000
18980000
18990000
19000000
19010000
19020000
19030000
19040000
19050000
19060000
19070000
19080000
19090000
19100000
19110000
19120000
19130000
19140000
19150000
19160000
19170000
19180000
19190000
19200000
19210000
19220000
19230000
19240000
19250000
19260000
19270000
19280000
19290000
19300000
19310000
19320000
19330000
19340000
19350000
19360000
19370000
19380000
19390000
19400000
19410000
19420000
19430000
19440000
19450000

19460000
19470000
19480000
19490000
19500000
19510000
19520000
19530000
19540000
19550000
19560000
19570000
19580000
19590000
19600000
19610000
19620000
19630000
19640000
19650000
19660000
19670000
19680000
19690000
19700000
19710000
19720000
19730000
19740000
19750000
19760000
19770000
19780000
19790000
19800000
19810000
19820000
19830000
19840000
19850000
19860000
19870000
19880000
19890000
19900000
19910000
19920000
19930000
19940000
19950000
19960000
19970000
19980000
19990000
20000000
20010000
20020000
20030000
20040000
20050000
20060000
20070000
20080000
20090000
20100000
20110000
20120000
20130000
20140000
20150000
20160000
20170000
20180000
20190000
20200000
20210000
20220000
20230000
20240000
20250000
20260000
20270000
20280000
20290000
20300000
20310000
20320000
20330000
20340000
20350000
20360000
20370000
20380000
20390000
20400000
20410000
20420000
20430000
20440000
20450000
20460000
20470000
20480000
20490000
20500000
20510000
20520000
20530000
20540000
20550000
20560000
20570000
20580000
20590000
20600000
20610000
20620000
20630000
20640000
20650000
20660000
20670000
20680000
20690000
20700000
20710000
20720000
20730000
20740000
20750000
20760000
20770000
20780000
20790000
20800000
20810000
20820000
20830000
20840000
20850000
20860000
20870000
20880000
20890000
20900000
20910000
20920000
20930000
20940000
20950000
20960000
20970000
20980000
20990000
21000000
21010000
21020000
21030000
21040000
21050000
21060000
21070000
21080000
21090000
21100000
21110000
21120000
21130000
21140000
21150000
21160000
21170000
21180000
21190000
21200000
21210000
21220000
21230000
21240000
21250000
21260000
21270000
21280000
21290000
21300000
21310000
21320000
21330000
21340000
21350000
21360000
21370000
21380000
21390000
21400000
21410000
21420000
21430000
21440000
21450000
21460000
21470000
21480000
21490000
21500000
21510000
21520000
21530000
21540000
21550000
21560000
21570000
21580000
21590000
21600000
21610000
21620000
21630000
21640000
21650000
21660000
21670000
21680000
21690000
21700000
21710000
21720000
21730000
21740000
21750000
21760000
21770000
21780000
21790000
21800000
21810000
21820000
21830000
21840000
21850000
21860000
21870000
21880000
21890000
21900000
21910000
21920000
21930000
21940000
21950000
21960000
21970000
21980000
21990000
22000000
22010000
22020000
22030000
22040000
22050000
22060000
22070000
22080000
22090000
22100000
22110000
22120000
22130000
22140000
22150000
22160000
22170000
22180000
22190000
22200000
22210000
22220000
22230000
22240000
22250000
22260000
22270000
22280000
22290000
22300000
22310000
22320000
22330000
22340000
22350000
22360000
22370000
22380000
22390000
22400000
22410000
22420000
22430000
22440000
22450000
22460000
22470000
22480000
22490000
22500000
22510000
22520000
22530000
22540000
22550000
22560000
22570000
22580000
22590000
22600000
22610000
22620000
22630000
22640000
22650000
22660000
22670000
22680000
22690000
22700000
22710000
22720000
22730000
22740000
22750000
22760000
22770000
22780000
22790000
22800000
22810000
22820000
22830000
22840000
22850000
22860000
22870000
22880000
22890000
22900000
22910000
22920000
22930000
22940000
22950000
22960000
22970000
22980000
22990000
23000000
23010000
23020000
23030000
23040000
23050000
23060000
23070000
23080000
23090000
23100000
23110000
23120000
23130000
23140000
23150000
23160000
23170000
23180000
23190000
23200000
23210000
23220000
23230000
23240000
23250000
23260000
23270000
23280000
23290000
23300000
23310000
23320000
23330000
23340000
23350000
23360000
23370000
23380000
23390000
23400000
23410000
23420000
23430000
23440000
23450000
23460000
23470000
23480000
23490000
23500000
23510000
23520000
23530000
23540000
23550000
23560000
23570000
23580000
23590000
23600000
23610000
23620000
23630000
23640000
23650000
23660000
23670000
23680000
23690000
23700000
23710000
23720000
23730000
23740000
23750000
23760000
23770000
23780000
23790000
23800000
23810000
23820000
23830000
23840000
23850000
23860000
23870000
23880000
23890000
23900000
23910000
23920000
23930000
23940000
23950000
23960000
23970000
23980000
23990000
24000000
24010000
24020000
24030000
24040000
24050000
24060000
24070000
24080000
24090000
24100000
24110000
24120000
24130000
24140000
24150000
24160000
24170000
24180000
24190000
24200000
24210000
24220000
24230000
24240000
24250000
24260000
24270000
24280000
24290000
24300000
24310000
24320000
24330000
24340000
24350000
24360000
24370000
24380000
24390000
24400000
24410000
24420000
24430000
24440000
24450000
24460000
24470000
24480000
24490000
24500000
24510000
24520000
24530000
24540000
24550000
24560000
24570000
24580000
24590000
24600000
24610000
24620000
24630000
24640000
24650000
24660000
24670000
24680000
24690000
24700000
24710000
24720000
24730000
24740000
24750000
24760000
24770000
24780000
24790000
24800000
24810000
24820000
24830000
24840000
24850000
24860000
24870000
24880000
24890000
24900000
24910000
24920000
24930000
24940000
24950000
24960000
24970000
24980000
24990000
25000000
25010000
25020000
25030000
25040000
25050000
25060000
25070000
25080000
25090000
25100000
25110000
25120000
25130000
25140000
25150000
25160000
25170000
25180000
25190000
25200000
25210000
25220000
25230000
25240000
25250000
25260000
25270000
25280000
25290000
25300000
25310000
25320000
25330000
25340000
25350000
25360000
25370000
25380000
25390000
25400000
25410000
25420000
25430000
25440000
25450000
25460000
25470000
25480000
25490000
25500000
25510000
25520000
25530000
25540000
25550000
25560000
25570000
25580000
25590000
25600000
25610000
25620000
25630000
25640000
25650000
25660000
25670000
25680000
25690000
25700000
25710000
25720000
25730000
25740000
25750000
25760000
25770000
25780000
25790000
25800000
25810000
25820000
25830000
25840000
25850000
25860000
25870000
25880000
25890000
25900000
25910000
25920000
25930000
25940000
25950000
25960000
25970000
25980000
25990000
26000000
26010000
26020000
26030000
26040000
26050000
26060000
26070000
26080000
26090000
26100000
26110000
26120000
26130000
26140000
26150000
26160000
26170000
26180000
26190000
26200000
26210000
26220000
26230000
26240000
26250000
26260000
26270000
26280000
26290000
26300000
26310000
26320000
26330000
26340000
26350000
26360000
26370000
26380000
26390000
26400000
26410000
26420000
26430000
26440000
26450000
26460000
26470000
26480000
26490000
26500000
26510000
26520000
26530000
26540000
26550000
26560000
26570000
26580000
26590000
26600000
26610000
26620000
26630000
26640000
26650000
26660000
26670000
26680000
26690000
26700000
26710000
26720000
26730000
26740000
26750000
26760000
26770000
26780000
26790000
26800000
26810000
26820000
26830000
26840000
26850000
26860000
26870000
26880000
26890000
26900000
26910000
26920000
26930000
26940000
26950000
26960000
26970000
26980000
26990000
27000000
27010000
27020000
27030000
27040000
27050000
27060000
27070000
27080000
27090000
27100000
27110000
27120000
27130000
27140000
27150000
27160000
27170000
27180000
27190000
27200000
27210000
27220000
27230000
27240000
27250000
27260000
27270000
27280000
27290000
27300000
27310000
27320000
27330000
27340000
27350000
27360000
27370000
27380000
27390000
27400000
27410000
27420000
27430000
27440000
27450000
27460000
27470000
27480000
27490000
27500000
27510000
27520000
27530000
27540000
27550000
27560000
27570000
27580000
27590000
27600000
27610000
27620000
27630000
27640000
27650000
27660000
27670000
27680000
27690000
27700000
27710000
27720000

In [153]:
df.shape

(27728785, 5)

In [154]:
df = df.dropna(subset=['UniProt ID'])

In [155]:
df.shape

(27004035, 5)

In [157]:
df = df[['PubChem CID','UniProt ID']]

In [158]:
df.head()

   PubChem CID UniProt ID
0     53308627     P24740
1     53308628     P24740
2     53308629     P24740
3     53308630     P24740
4     53308631     P24740

In [159]:
df=df.drop_duplicates()

In [160]:
df.shape

(1338842, 2)

## Map UniProt ID to Gene Target

In [161]:
df.set_index('UniProt ID', inplace = True)
uniprot.set_index('UniProt ID',inplace=True)
uniprot.head()

           Approved Symbol
UniProt ID
P04217                A1BG
NaN               A1BG-AS1
Q9NQ94                A1CF
P01023                 A2M
NaN                A2M-AS1

In [162]:
df.head()

            PubChem CID
UniProt ID
P24740         53308627
P24740         53308628
P24740         53308629
P24740         53308630
P24740         53308631

In [166]:
df = pd.merge(df, uniprot, how= 'left', on = 'UniProt ID')
df = df.rename(index=str, columns = {'Approved Symbol':'Old Targets'})
df.reset_index(inplace=True)
df.head()

  index UniProt ID  PubChem CID Old Targets Old Targets
0     0     P24740     53308627         NaN         NaN
1     1     P24740     53308628         NaN         NaN
2     2     P24740     53308629         NaN         NaN
3     3     P24740     53308630         NaN         NaN
4     4     P24740     53308631         NaN         NaN
5     5     P24740     53308632         NaN         NaN
6     6     P24740     53308633         NaN         NaN
7     7     P24740     53308634         NaN         NaN
8     8     P24740     53308635         NaN         NaN
9     9     P24740     53308636         NaN         NaN

In [169]:
df = df.dropna(subset=['Old Targets']) 
df.shape

(732879, 5)

In [170]:
df.head()

   index UniProt ID  PubChem CID Old Targets Old Targets
89    89     P24723      5287736       PRKCH       PRKCH
90    90     P24723      5327919       PRKCH       PRKCH
91    91     P24723      5327920       PRKCH       PRKCH
92    92     P24723      5327921       PRKCH       PRKCH
93    93     P24723      5327922       PRKCH       PRKCH

## Update Target Names

In [178]:
df=df.iloc[:,[0,1,2]]
df.head()

    PubChem CID UniProt ID Old Targets
89      5287736     P24723       PRKCH
90      5327919     P24723       PRKCH
91      5327920     P24723       PRKCH
92      5327921     P24723       PRKCH
93      5327922     P24723       PRKCH

In [179]:
df.set_index('Old Targets', inplace = True)
target_update.set_index('Old Targets', inplace = True)
df = pd.merge(df, target_update, how= 'left', on = 'Old Targets')
df.reset_index(inplace=True)
df = df.rename(index=str, columns = {'Updated Targets':'Targets'})
df = df.dropna(subset=['Targets']) 
df.shape

(732879, 4)

## Filter by LINCS Approved Small Molecules

In [193]:
# count = 0
for index, row in df.iterrows():
    CID = row.loc['PubChem CID']
    if CID not in lincs['SM_PubChem_CID'].values:
        df.drop(index, inplace = True)
        count += 1
        
print(count)

708783

In [194]:
count,index

(708783, '732878')

In [198]:
df.head()

    Old Targets  PubChem CID UniProt ID Targets
48        CCND1      5330790     P24385   CCND1
56         CDK5         3820     Q00535    CDK5
151        CDK5      3641059     Q00535    CDK5
165        CDK5      5326843     Q00535    CDK5
178        CDK5      5318433     Q00535    CDK5

In [196]:
df.shape

(24096, 4)

## Make Binary Matrix

In [199]:
grouped_df = df.groupby(['Targets'])['PubChem CID'].apply(lambda x: ','.join(x.astype(str))).reset_index()
grouped_df.set_index('Targets', inplace=True)
grouped_df = grouped_df.sort_index()
len(df['Targets'].unique())

916

In [200]:
grouped_matrix = grouped_df.iloc[:,0].str.get_dummies(sep=',')
grouped_matrix.head()

,10026128,10029385,10040286,10050129,10068193,10074640,10077147,10090485,10096344,10109069,...,9949093,9949641,9952773,9954280,9955,9956119,9956145,9966051,9967941,997475
Targets,,,,,,,,,,,,,,,,,,,,,
AAK1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AASDHPPT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABL1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABL2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ACACA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [201]:
grouped_matrix.shape

(916, 2508)

## Save Binary Matrix

In [202]:
filename = 'Output/BindingDB_Targets_%s.tsv.zip'% str(datetime.date.today())[0:7].replace('-', '_')
grouped_matrix.to_csv(filename, sep='\t', compression='gzip')

## Convert Binary Matrix to GMT

In [203]:
drugset_library = []
for index, row in grouped_matrix.iterrows():
    
    drugset = []
    drugset.append(index)
    drugset.append('')
    for i in range(grouped_matrix.shape[1]):
        if row.iloc[i]==1:
            drugset.append(row.index[i])
    if len(drugset) >= 7:
        drugset_library.append(drugset)
    
dsl = np.array(drugset_library)

In [204]:
len(max(dsl, key=len))

193

In [205]:
filename = 'Output/BindingDB_Targets_DrugSetLibrary_%s.gmt'% str(datetime.date.today())[0:7].replace('-', '_')
with open(filename,'w',encoding='utf-8') as f:
    for row in dsl:
        np.savetxt(f, [row], fmt = '%s',delimiter = '\t')