## Import Libraries

In [8]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import squareform, pdist,jaccard
import sys,  datetime, os
import requests
import chardet

## Load Data

#### Load DrugBank Data

In [9]:
df = pd.read_csv('Input/drugbank_targets.csv')

In [10]:
df.head()

,DrugBank ID,Name,Type,UniProt ID,UniProt Name
0,DB00001,Lepirudin,BiotechDrug,P00734,Prothrombin
1,DB00002,Cetuximab,BiotechDrug,P00533,Epidermal growth factor receptor
2,DB00002,Cetuximab,BiotechDrug,O75015,Low affinity immunoglobulin gamma Fc region re...
3,DB00002,Cetuximab,BiotechDrug,P00736,Complement C1r subcomponent
4,DB00002,Cetuximab,BiotechDrug,P02745,Complement C1q subcomponent subunit A

In [11]:
df.shape

(18655, 5)

In [12]:
df['Type'].unique()

array(['BiotechDrug', 'SmallMoleculeDrug'], dtype=object)

In [13]:
len(df['Name'].unique())

7137

#### Load UniProt ID table

In [14]:
uniprot = pd.read_table('Input/gene_to_uniprot.txt')

In [15]:
uniprot.head()

  Approved Symbol UniProt ID
0            A1BG     P04217
1        A1BG-AS1        NaN
2            A1CF     Q9NQ94
3             A2M     P01023
4         A2M-AS1        NaN

In [16]:
uniprot.shape

(41375, 2)

In [17]:
uniprot = uniprot[pd.notnull(uniprot['UniProt ID'])]

#### Load Targets Mapping File

In [18]:
target_update = pd.read_table('Input/mappingFile_2017.txt', names = ['Old Targets','Updated Targets'], engine='python')

In [19]:
target_update.head()

  Old Targets Updated Targets
0        A1BG            A1BG
1    A1BG-AS1        A1BG-AS1
2  NCRNA00181        A1BG-AS1
3      A1BGAS        A1BG-AS1
4     A1BG-AS        A1BG-AS1

In [20]:
target_update.set_index('Old Targets',inplace = True)

#### Load LINCS Small Molecules

In [21]:
lincs = pd.read_csv('Input/LINCS_SmallMolecules.csv',encoding='ISO-8859-1')

In [22]:
lincs.head()

,SM_Name,SM_LINCS_ID,SM_Alternative_Name,SM_PubChem_CID,SM_SMILES_Parent,SM_SMILES_Batch,SM_InChi_Parent,SM_Molecular_Mass,MOLECULAR_FORMULA,SM_ChEBI_ID
0,Dichlobenil,LSM-19017,NaN,3031.0,Clc1cccc(Cl)c1C#N,NaN,InChI=1S/C7H3Cl2N/c8-6-2-1-3-7(9)5(6)4-10/h1-3H,172.01,C7H3Cl2N,943
1,AC1NWAJC,LSM-43967,Vulpinic acid,5701993.0,COC(=O)\C(=C\1/OC(=O)C(C1=O)c2ccccc2)\c3ccccc3,NaN,InChI=1S/C19H14O5/c1-23-18(21)15(13-10-6-3-7-1...,322.31,C19H14O5,NaN
2,Sinapic Acid Methyl Ether,LSM-44124,NaN,735755.0,COc1cc(\C=C\C(=O)O)cc(OC)c1OC,NaN,InChI=1S/C12H14O5/c1-15-9-6-8(4-5-11(13)14)7-1...,238.24,C12H14O5,NaN
3,Ferulic acid,LSM-44126,Ferulic acid,445858.0,COc1cc(\C=C\C(=O)O)ccc1O,NaN,InChI=1S/C10H10O4/c1-14-9-6-7(2-4-8(9)11)3-5-1...,194.18,C10H10O4,17620
4,Pinosylvin Methyl Ether,LSM-43902,NaN,5281719.0,COc1cc(O)cc(\C=C\c2ccccc2)c1,NaN,InChI=1S/C15H14O2/c1-17-15-10-13(9-14(16)11-15...,226.27,C15H14O2,8227

## Map UniProt ID to Gene

In [23]:
df.set_index('UniProt ID', inplace = True)
uniprot.set_index('UniProt ID',inplace=True)

In [24]:
uniprot.head()

           Approved Symbol
UniProt ID
P04217                A1BG
Q9NQ94                A1CF
P01023                 A2M
A8K2U0               A2ML1
U3KPV4             A3GALT2

In [25]:
df = pd.merge(df, uniprot, how= 'left', on = 'UniProt ID')

In [26]:
df = df.rename(index=str, columns = {'Approved Symbol':'Old Targets'})

In [27]:
df.reset_index(inplace=True)

In [28]:
df.head(4)
df.shape

(18702, 6)

In [29]:
df = df.dropna(subset=['Old Targets'])

## Update Target Names

In [30]:
df.set_index('Old Targets', inplace = True)

In [31]:
df.head()

,UniProt ID,DrugBank ID,Name,Type,UniProt Name
Old Targets,,,,,
F2,P00734,DB00001,Lepirudin,BiotechDrug,Prothrombin
Egfr,P00533,DB00002,Cetuximab,BiotechDrug,Epidermal growth factor receptor
FCGR3B,O75015,DB00002,Cetuximab,BiotechDrug,Low affinity immunoglobulin gamma Fc region re...
C1R,P00736,DB00002,Cetuximab,BiotechDrug,Complement C1r subcomponent
C1QA,P02745,DB00002,Cetuximab,BiotechDrug,Complement C1q subcomponent subunit A

In [32]:
df = pd.merge(df, target_update, how= 'left', on = 'Old Targets')

In [33]:
df.reset_index(inplace=True)

In [34]:
df = df.rename(index=str, columns = {'Updated Targets':'Targets'})

In [35]:
df = df.dropna(subset=['Targets'])

In [36]:
df.shape

(14343, 7)

## Get PubChemID and Map to drug name

In [37]:
namesdf = df['Name']
namesdf = namesdf.drop_duplicates()

In [38]:
nameslist = namesdf.tolist()
failed_to_get_CID = 0
CID_dict = {}

for name in nameslist:
    name = name.replace(' ','%20')
    url = 'https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/' + name + '/cids/JSON'
    response = requests.get(url)
    if 'IdentifierList' in response.json().keys():
        CID = response.json()['IdentifierList']['CID'][0]
        name = name.replace('%20', ' ')
        CID_dict[name] = CID
    else:
        failed_to_get_CID += 1
        
    if len(CID_dict) % 100 == 0:
        name = name.replace('%20',' ')
        print(nameslist.index(name))

print(failed_to_get_CID)
print(len(CID_dict))
print(len(nameslist))

0
1
2
3
172
278
384
490
595
717
825
927
1041
1042
1043
1159
1267
1369
1476
1585
1586
1587
1698
1806
1807
1922
2031
2032
2151
2267
2383
2490
2609
2715
2825
2992
3174
3175
3176
3177
3324
3460
3579
3693
3803
3922
4042
4043
4044
4160
4278
4400
4505
4627
4742
4850
4979
5105
5248
883
4478
5361

In [42]:
CIDs = []
for index, row in df.iterrows():
    drugname = row.loc['Name']
    if drugname not in CID_dict:
        df.drop(index, inplace = True)
    else: 
        CIDs.append(int(CID_dict[drugname]))

df.loc[:,'CIDs'] = pd.Series(np.array(CIDs), index=df.index)

In [43]:
df.head()

,Old Targets,UniProt ID,DrugBank ID,Name,Type,UniProt Name,Targets,CIDs
30,F2,P00734,DB00006,Bivalirudin,SmallMoleculeDrug,Prothrombin,F2,16129704
31,GNRHR,P30968,DB00007,Leuprolide,BiotechDrug,Gonadotropin-releasing hormone receptor,GNRHR,657181
38,GHRHR,Q02643,DB00010,Sermorelin,BiotechDrug,Growth hormone-releasing hormone receptor,GHRHR,16129620
52,LHCGR,P22888,DB00014,Goserelin,SmallMoleculeDrug,Lutropin-choriogonadotropic hormone receptor,LHCGR,5311128
53,GNRHR,P30968,DB00014,Goserelin,SmallMoleculeDrug,Gonadotropin-releasing hormone receptor,GNRHR,5311128

In [44]:
df.shape

(12266, 8)

## Filter by LINCS approved Small Molecules

In [45]:
count = 0
for index, row in df.iterrows():
    CID = row.loc['CIDs']
    if CID not in lincs['SM_PubChem_CID'].values:

        df.drop(index, inplace = True)
        count += 1

print(count)

7495

In [46]:
df.head()

,Old Targets,UniProt ID,DrugBank ID,Name,Type,UniProt Name,Targets,CIDs
52,LHCGR,P22888,DB00014,Goserelin,SmallMoleculeDrug,Lutropin-choriogonadotropic hormone receptor,LHCGR,5311128
53,GNRHR,P30968,DB00014,Goserelin,SmallMoleculeDrug,Gonadotropin-releasing hormone receptor,GNRHR,5311128
346,CAMLG,P49069,DB00091,Cyclosporine,SmallMoleculeDrug,Calcium signal-modulating cyclophilin ligand,CAMLG,5284373
347,PPP3R2,Q96LZ3,DB00091,Cyclosporine,SmallMoleculeDrug,Calcineurin subunit B type 2,PPP3R2,5284373
348,PPIA,P62937,DB00091,Cyclosporine,SmallMoleculeDrug,Peptidyl-prolyl cis-trans isomerase A,PPIA,5284373

In [47]:
df.shape

(4771, 8)

## Make Binary Matrix

In [48]:
grouped_df = df.groupby(['Targets'])['CIDs'].apply(lambda x: ','.join(x.astype(str))).reset_index()

In [49]:
grouped_df.set_index('Targets', inplace=True)
grouped_df = grouped_df.sort_index()

In [50]:
len(df['Targets'].unique())

1111

In [51]:
grouped_matrix = grouped_df.iloc[:,0].str.get_dummies(sep=',')

In [52]:
grouped_matrix.head()

,10052040,10096344,10109823,10113978,10133,10140,10152654,101616,10168,10172943,...,9913,9915743,9926791,9930049,9931954,9933475,9934347,9939609,9949641,9966051
Targets,,,,,,,,,,,,,,,,,,,,,
AADACL2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABAT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABCA1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABCB1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ABCB11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
grouped_matrix.shape

(1111, 1154)

## Save Binary Matrix

In [54]:
# grouped_matrix.to_csv('Output/DrugBank_Targets.csv')

In [55]:
filename = 'Output/DrugBank_Targets_%s.tsv.zip'% str(datetime.date.today())[0:7].replace('-', '_')
grouped_matrix.to_csv(filename, sep='\t', compression='gzip')

## Convert Binary Matrix to GMT

In [56]:
drugset_library = []
for index, row in grouped_matrix.iterrows():
    
    drugset = []
    drugset.append(index)
    drugset.append('')
    for i in range(grouped_matrix.shape[1]):
        if row.iloc[i]==1:
            drugset.append(row.index[i])
    if len(drugset) >= 7:
        drugset_library.append(drugset)
    
dsl = np.array(drugset_library)

In [57]:
print(dsl)

[list(['ABCC8', '', '121891', '2727', '3475', '3476', '3478', '3488', '5503', '5505', '65981', '91610'])
 list(['ABL1', '', '11167602', '24826799', '3062316', '5291', '5328940', '644241'])
 list(['ACE', '', '107807', '44093', '5280954', '5362124', '5362129', '5388962', '5462501', '54892', '91270', '92400'])
 list(['ACHE', '', '187', '1935', '3105', '3152', '3202', '4139', '4168', '4199', '4456', '4939', '4991', '5966', '6000', '77991', '854026', '9651'])
 list(['ADORA1', '', '2153', '2519', '3182', '3446', '3878', '4740', '5429', '60961'])
 list(['ADORA2A', '', '176407', '2153', '2519', '3182', '3878', '40692', '4740', '50942', '5429', '60961'])
 list(['ADRA1A', '', '115368', '1236', '129211', '146570', '208898', '2092', '2170', '22297', '2520', '2585', '2726', '2765', '2771', '2803', '2818', '2995', '3036780', '3105', '31101', '3157', '3168', '3241', '3341', '33625', '34040', '3677', '3696', '3869', '3878', '4011', '4184', '4195', '4260', '441074', '4436', '4449', '4474', '4543', '4585', '4636', '47811', '4830', '4893', '4926', '4927', '5002', '5281881', '5284550', '5311507', '5419', '5452', '5467', '54746', '5504', '5533', '5566', '5584', '5775', '5816', '5906', '60149', '6041', '6077', '60795', '6082', '60854', '667477', '7028', '71360', '7172', '72287', '838', '9429'])
 list(['ADRA1B', '', '115368', '11978813', '129211', '208898', '2092', '2170', '2520', '2585', '2726', '2765', '2803', '2818', '2995', '31101', '3157', '3341', '3677', '3696', '3869', '4011', '4184', '4195', '4236', '4260', '441074', '4449', '4474', '4543', '4585', '4636', '47811', '4830', '4893', '4926', '5002', '5284550', '5452', '5467', '54746', '5584', '5775', '5816', '60149', '6041', '6077', '60795', '6082', '60854', '667477', '7172', '72287', '838', '9429'])
 list(['ADRA1D', '', '115368', '129211', '208898', '2092', '2170', '2520', '2585', '2726', '2765', '2803', '2995', '31101', '3157', '3341', '3677', '3696', '3869', '4011', '4184', '4195', '4260', '441074', '4474', '4543', '4636', '47811', '4830', '4893', '4926', '5002', '5284550', '5467', '54746', '5775', '5816', '60149', '6041', '6082', '667477', '7172', '72287'])
 list(['ADRA2A', '', '10531', '119570', '208898', '213046', '2170', '2435', '2585', '26934', '2726', '2765', '2803', '2818', '2995', '3036780', '30668', '3105', '31101', '3241', '3341', '3519', '3677', '3878', '38853', '4011', '4184', '4260', '4436', '4449', '4543', '4585', '4636', '47811', '4810', '4830', '4893', '5002', '5095', '5205', '5284550', '5311507', '53276', '5467', '54746', '5504', '5533', '5584', '5775', '5816', '6005', '60795', '60854', '667477', '68802', '7028', '72287', '838', '8969'])
 list(['ADRA2B', '', '119570', '208898', '2170', '2435', '2585', '26934', '2726', '2765', '2803', '2818', '2995', '3036780', '31101', '3341', '3519', '3677', '4011', '4184', '4260', '4543', '4585', '4636', '47811', '4893', '5002', '5095', '5205', '5284550', '5467', '54746', '5504', '5584', '5816', '59227', '6005', '60795', '60854', '667477', '667484', '72287', '838', '8969'])
 list(['ADRA2C', '', '119570', '11978813', '208898', '213046', '2170', '2435', '2585', '26934', '2726', '2765', '2803', '2818', '2995', '3036780', '31101', '3341', '3677', '4011', '4184', '4260', '4543', '4585', '4636', '47811', '5002', '5095', '5205', '5284550', '5467', '54746', '5504', '5816', '6005', '60795', '60854', '667477', '71360', '72287', '838', '8969'])
 list(['ADRB1', '', '1102', '155774', '1978', '2083', '208898', '2119', '2157', '2249', '2369', '2405', '2583', '2585', '2663', '26934', '2783', '2995', '3036780', '3343', '33624', '3677', '3762', '3779', '3869', '3878', '39147', '39468', '4171', '44112', '4543', '4585', '4631', '4828', '4883', '4932', '4946', '5152', '5253', '5403', '54746', '5584', '5816', '59768', '7028', '838', '9966051'])
 list(['ADRB2', '', '1102', '123600', '1978', '2083', '2119', '2249', '2369', '2405', '2583', '2585', '2663', '26934', '2783', '2995', '3036780', '3105', '3343', '33572', '33624', '3677', '3762', '3779', '3869', '39147', '39468', '4086', '4171', '44112', '4543', '4585', '4631', '4828', '4916', '4932', '4946', '50942', '5152', '5253', '5403', '54746', '54766', '5584', '5606', '5816', '6918554', '7028', '838'])
 list(['ADRB3', '', '2083', '2119', '2783', '3343', '3677', '3779', '44112', '4543', '4585', '4631', '4828', '4946', '5152', '5403', '5584', '5816'])
 list(['AGTR1', '', '158781', '2540', '3749', '3961', '5281037', '60846', '65999'])
 list(['AHR', '', '3220', '3397', '3899', '4178', '445154', '4497', '4594', '5280343', '5281613', '5326739', '5944', '60823', '65064'])
 list(['AKR1B1', '', '13109', '1548887', '2120', '2146', '24872560', '2733526', '27812', '28417', '3314', '3371', '3372', '3397', '4211', '448537', '4493', '456201', '4632', '5564', '5833', '5870', '5878', '5994', '5995', '6010', '68861', '9824562', '9880', '9882972'])
 list(['AKR1C1', '', '10204', '2244', '338', '3606', '932'])
 list(['ALOX5', '', '10168', '26248', '3033', '4037', '4075', '445154', '4649', '5281040', '60490'])
 list(['ATP1A1', '', '2431', '2724385', '2749', '3019', '3278', '33887', '3647', '439501', '5560'])
 list(['ATP4A', '', '3883', '4594', '4679', '5029', '9568614'])
 list(['BCHE', '', '1935', '3105', '3202', '4991', '5966', '77991', '9651'])
 list(['BCL2', '', '24978538', '3052776', '36314', '3672', '39912', '49846579'])
 list(['BRAF', '', '11167602', '11656518', '216239', '24180719', '42611257', '44462760'])
 list(['CA1', '', '1986', '2162', '2315', '2343', '2720', '2910', '3019', '3038', '3639', '3647', '4100', '4107', '5281855', '5284549', '5284627', '5560', '5734', '68844'])
 list(['CA12', '', '1986', '2343', '3639', '3647', '5281855', '5734'])
 list(['CA2', '', '1176', '119607', '169682', '1986', '2315', '2343', '2662', '2720', '2910', '3019', '3038', '3440', '3639', '3647', '4100', '5281855', '5284549', '5284627', '5355', '5560', '5734', '68844'])
 list(['CA3', '', '119607', '1986', '2662', '3038', '4100', '5281855', '5284549', '5284627', '5355', '5734', '68844'])
 list(['CA4', '', '1986', '2315', '2343', '2720', '2910', '3038', '3639', '3647', '4100', '5281855', '5284549', '5284627', '5560', '5734', '68844'])
 list(['CA7', '', '1986', '3038', '4100', '5281855', '5734'])
 list(['CA9', '', '2343', '3639', '3647', '5281855', '5734'])
 list(['CACNA1B', '', '2162', '2520', '3446', '5284583', '5833'])
 list(['CACNA1C', '', '1547484', '208898', '2162', '2520', '3333', '4474', '4485', '4497', '4499', '4507', '5311217', '5573', '5833', '60663', '60753'])
 list(['CACNA1D', '', '1547484', '208898', '2162', '2520', '3333', '4474', '4485', '4497', '4499', '4507', '5311217', '5573', '5833', '60663'])
 list(['CACNA1F', '', '1547484', '208898', '2520', '4497', '5311217', '5573', '5833', '60663'])
 list(['CACNA1G', '', '1547484', '2520', '3291', '5573', '5576', '5734', '5833', '60663', '941361'])
 list(['CACNA1H', '', '1547484', '2157', '3333', '4485', '4507', '5573', '5734', '5833', '60663', '941361'])
 list(['CACNA1I', '', '1547484', '2520', '5573', '5734', '5833', '60663', '941361'])
 list(['CACNA1S', '', '1547484', '208898', '2162', '2520', '3333', '4485', '4497', '4499', '4507', '5311217', '5573', '5833', '60663'])
 list(['CACNA2D1', '', '2162', '3333', '3446', '4474', '4485', '4499', '4507', '5833', '60753'])
 list(['CACNA2D2', '', '2157', '3333', '3446', '4507', '5833'])
 list(['CACNB1', '', '208898', '2520', '4497', '5311217', '5573', '5833', '60663', '60753'])
 list(['CACNB2', '', '208898', '2162', '2520', '3333', '4474', '4485', '4497', '4499', '4507', '5311217', '5573', '5833', '60663'])
 list(['CACNB3', '', '208898', '2520', '4497', '5311217', '5573', '5833', '60663'])
 list(['CACNB4', '', '208898', '2520', '4497', '5311217', '5573', '5833', '60663'])
 list(['CACNG1', '', '3396', '39186', '4507', '5833', '60753'])
 list(['CALM1', '', '16362', '2726', '3025', '3333', '3372', '3955', '4474', '4485', '4748', '4927', '5312137', '5566', '5681', '896', '941361', '9801'])
 list(['CDK1', '', '11338033', '160355', '4592', '5287969', '5326739'])
 list(['CDK2', '', '11338033', '160355', '2608', '44259', '448991', '4592', '5287969', '5326739', '5328940', '6918852'])
 list(['CES1', '', '166558', '1935', '221493', '4912', '5284596', '5601'])
 list(['CFTR', '', '16220172', '16678941', '2471', '3488', '3672', '39562', '39912', '46199646', '47936'])
 list(['CHRM1', '', '11519070', '1201549', '146570', '154059', '154417', '1547484', '174174', '187', '2170', '2370', '2381', '23897', '2726', '2771', '2784', '2818', '2913', '2995', '3042', '3055', '3114', '3162', '3290', '3354', '3494', '3696', '3878', '4011', '4057', '4097', '4167', '4168', '4199', '43815', '44259', '443879', '444031', '4474', '4543', '4585', '4634', '4848', '4919', '4926', '4927', '4934', '5002', '5281881', '5284550', '5405', '5568', '5572', '5584', '5593', '5749', '5910', '60795', '60854', '667477', '6834', '72287'])
 list(['CHRM2', '', '11519070', '154059', '154417', '1547484', '174174', '187', '2170', '2370', '2818', '2913', '2995', '3042', '3055', '3100', '3114', '3290', '3354', '3494', '3696', '3878', '4011', '4167', '43815', '443879', '444031', '4474', '4543', '4585', '4634', '4919', '4926', '4927', '5002', '5284550', '5405', '5568', '5572', '5584', '5593', '5910', '60795', '60854', '667477', '6834', '72287'])
 list(['CHRM3', '', '11519070', '154059', '154417', '1547484', '174174', '187', '2170', '2370', '2726', '2818', '2913', '2995', '3055', '3114', '33741', '3494', '3696', '3792', '3878', '4011', '4057', '4167', '43815', '443879', '444031', '4474', '4543', '4585', '4634', '4919', '4926', '4927', '5002', '5284550', '5405', '5572', '5584', '5593', '5910', '60795', '60854', '667477', '6834', '72287'])
 list(['CHRM4', '', '11519070', '154059', '154417', '1547484', '174174', '187', '2170', '2370', '2818', '2995', '3696', '3878', '4011', '4167', '43815', '443879', '444031', '4474', '4543', '4585', '4919', '4926', '4927', '5002', '5284550', '5405', '5572', '5584', '5593', '5910', '60795', '60854', '667477', '6834', '72287'])
 list(['CHRM5', '', '11519070', '154059', '1547484', '174174', '2170', '2818', '2995', '3696', '3878', '4011', '4167', '43815', '443879', '444031', '4474', '4543', '4585', '4926', '4927', '5002', '5284550', '5405', '5572', '5584', '60795', '60854', '667477', '6834', '72287'])
 list(['CHRNA2', '', '2381', '39765', '4032', '4914', '5360696', '6000', '89594', '9651'])
 list(['CHRNA3', '', '10235', '26879', '444', '5310966', '5360696', '5850', '89594', '9651'])
 list(['CHRNA4', '', '10235', '13791', '174174', '2481', '2554', '4032', '4737', '4909', '5310966', '5360696', '5757', '89594', '9651'])
 list(['CHRNA7', '', '101616', '10235', '187', '2481', '4032', '4737', '4909', '5310966', '5360696', '6000', '89594', '9651'])
 list(['CHRNB2', '', '10235', '174174', '2554', '4032', '5310966', '5360696', '89594', '9651'])
 list(['CSNK2A1', '', '1694', '3220', '445154', '5280343', '5281855'])
 list(['CYP19A1', '', '2145', '2187', '3902', '456201', '5870', '60198', '66414', '89594', '932'])
 list(['DHX15', '', '2756', '3033637', '3036780', '3241', '4097', '4585', '4927', '5105', '5504', '667477', '774', '7741'])
 list(['DHX8', '', '10660', '108092', '115368', '1201549', '124087', '133017', '146570', '1547484', '1549000', '164522', '16960', '2170', '2200', '2247', '2267', '2366', '25295', '2564', '2678', '26987', '2710', '2725', '2726', '2771', '2818', '2913', '2995', '3036780', '3100', '3103', '3162', '3219', '3241', '3348', '3658', '3696', '3827', '3878', '3957', '4011', '4034', '4066', '4184', '4543', '4585', '4761', '4926', '4927', '5002', '5281071', '5282443', '5284550', '5311507', '5405', '5467', '5504', '5533', '5584', '5587', '60795', '60854', '667477', '6726', '6834', '71360', '72287', '774', '941361'])
 list(['DNMT1', '', '3366', '451668', '4913', '65064', '9444'])
 list(['DRD1', '', '119570', '1547484', '2170', '26934', '2726', '2818', '3036780', '31101', '3341', '3372', '3559', '3696', '3878', '4184', '4199', '4585', '4748', '47811', '4830', '4926', '5002', '5095', '5281881', '5311507', '5417', '5440', '5452', '54746', '5568', '5584', '59227', '6005', '6047', '6077', '60795', '60854', '681', '71360', '72287', '8226', '9429'])
 list(['DRD2', '', '115368', '119570', '11978813', '125564', '15387', '1547484', '16362', '2130', '213046', '2159', '2170', '2196', '23897', '2446', '2477', '2726', '2818', '2995', '3033769', '3036780', '31101', '3151', '3168', '3372', '3396', '3559', '3696', '3792', '3878', '4011', '4054', '4078', '4168', '4184', '4199', '43008', '4543', '4585', '4748', '47811', '4830', '4850', '4917', '4926', '4927', '5002', '5095', '5281881', '5311507', '5355', '5417', '5440', '54477', '5452', '5467', '54746', '5566', '5568', '5584', '59227', '6005', '60149', '6018', '6047', '6077', '60795', '60854', '667477', '681', '71360', '72287', '8969', '9429'])
 list(['DRD3', '', '119570', '125564', '16362', '2159', '2170', '2726', '2818', '3036780', '31101', '3151', '3559', '4184', '4585', '47811', '4830', '4850', '5002', '5095', '5355', '54477', '5467', '54746', '59227', '6005', '6047', '60795', '60854', '681', '71360', '72287', '8969'])
 list(['DRD4', '', '115368', '119570', '2170', '2726', '2818', '3036780', '31101', '4585', '47811', '4830', '4926', '5002', '5095', '5440', '54477', '54746', '59227', '6005', '6047', '60795', '60854', '681', '71360', '72287'])
 list(['DRD5', '', '119570', '1547484', '2726', '31101', '3341', '3696', '3878', '4184', '4585', '47811', '5002', '5095', '5311507', '54746', '5584', '59227', '6005', '6047', '60795', '60854', '681', '72287'])
 list(['EDNRA', '', '104865', '159594', '16004692', '2244', '6918493'])
 list(['EGFR', '', '123631', '156414', '3081361', '3676', '42642648', '5287969', '6445562', '71496458', '9915743'])
 list(['ESR1', '', '10286159', '104741', '11289', '13109', '13791', '154257', '223368', '2733526', '27812', '28417', '3001028', '3005573', '3314', '3606', '4211', '444008', '445154', '448537', '4632', '4764', '5035', '5280343', '5280961', '5284596', '5756', '5757', '5870', '5991', '5994', '6010', '6279', '6291', '667476', '896', '932'])
 list(['ESR2', '', '10286159', '114829', '13791', '154257', '2733526', '3001028', '3314', '448537', '4632', '5035', '5280343', '5280961', '5756', '5757', '5870', '91469', '932'])
 list(['ESRRG', '', '13791', '221493', '2733526', '448537', '5591', '5757', '6623'])
 list(['F10', '', '10182969', '10275777', '4055', '4413', '5496659', '9875401'])
 list(['F2', '', '3447', '4055', '4413', '5361', '92722'])
 list(['FLT1', '', '10113978', '11167602', '11485656', '11973736', '151194', '216239', '5329102', '6450551', '9823820', '9868037'])
 list(['FLT3', '', '11282283', '11485656', '126565', '216239', '24826799', '24889392', '3038522', '5329102', '9829523'])
 list(['FLT4', '', '10113978', '11167602', '11485656', '11973736', '151194', '216239', '5329102', '6450551', '9823820'])
 list(['GABRA1', '', '10783', '2118', '2170', '2481', '24872560', '2576', '2712', '2802', '3016', '3032285', '3307', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '5719', '5732', '5735', '667484', '71158'])
 list(['GABRA2', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3307', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '5732', '5735', '667484', '71158'])
 list(['GABRA3', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3307', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '5732', '5735', '667484', '71158'])
 list(['GABRA4', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GABRA5', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '5735', '667484', '71158'])
 list(['GABRA6', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GABRB1', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GABRB2', '', '2118', '2170', '2481', '24872560', '2576', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GABRB3', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '5732', '667484', '71158'])
 list(['GABRD', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GABRE', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GABRG1', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GABRG2', '', '2118', '2170', '2481', '24872560', '2576', '2712', '2802', '3016', '3307', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '5732', '667484', '71158'])
 list(['GABRG3', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GABRP', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GABRQ', '', '2118', '2170', '2481', '24872560', '2712', '2802', '3016', '3373', '3878', '3958', '4192', '4506', '4585', '4737', '4909', '4943', '5284627', '5311454', '5391', '667484', '71158'])
 list(['GPRIN1', '', '12035', '1779', '3446', '3689', '4054', '4737', '54841', '65833', '71077', '71158'])
 list(['GRIN2A', '', '12035', '3331', '3446', '4054', '4737', '54841', '65833', '71158'])
 list(['GRIN2B', '', '12035', '3331', '3446', '3559', '3689', '4054', '4737', '54841', '65833', '71158'])
 list(['GRIN2C', '', '3446', '4737', '54841', '65833', '71158'])
 list(['GRIN2D', '', '12035', '3446', '4737', '54841', '65833', '71158'])
 list(['GRIN3A', '', '12035', '2130', '3290', '3331', '33741', '3446', '4054', '4737', '4914', '5360696', '54841', '65833', '71158'])
 list(['GRIN3B', '', '3446', '4737', '54841', '65833', '71158'])
 list(['GSK3B', '', '10172943', '11175137', '44259', '448014', '5287844', '5326739'])
 list(['GSTP1', '', '1983', '222528', '2818', '3278', '5329', '5591', '753', '969516'])
 list(['HDAC1', '', '107970', '11749858', '49855250', '5311', '5352062', '6918638', '6918837', '9865515'])
 list(['HDAC2', '', '2153', '3121', '49855250', '5311', '53232', '5352062', '6918638', '6918837', '9865515'])
 list(['HDAC3', '', '49855250', '5311', '6918638', '6918837', '9865515'])
 list(['HDAC6', '', '49855250', '5311', '5352062', '6918638', '6918837'])
 list(['HDAC8', '', '10379137', '444732', '5311', '6918638', '6918837'])
 list(['HMGCR', '', '19001', '446155', '446156', '446157', '5282452', '53232', '54454', '54687', '60823'])
 list(['HRH4', '', '2170', '2726', '2818', '4184', '4585', '667477', '774'])
 list(['HSP90AA1', '', '5280343', '5288382', '5288674', '6323490', '6505803'])

In [58]:
len(max(dsl, key=len))

75

In [59]:
filename = 'Output/DrugBank_Targets_DrugSetLibrary_%s.gmt'% str(datetime.date.today())[0:7].replace('-', '_')
with open(filename,'w',encoding='utf-8') as f:
    for row in dsl:
        np.savetxt(f, [row], fmt = '%s',delimiter = '\t')